<%include ./base/head.ejs%>
    
     <form role="form" class="form-horizontal col-sm-10" method="post" action="/post">
            <fieldset>
                <p class="h2">发表</p>
            <div class="input-group col-sm-10">
                <span class="text-muted">标题:</span>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="input-group col-sm-10">
                <span class="text-muted">正文:</span>
                <textarea class="form-control"  name="content" style="margin: 0px; width: 766px; height: 387px;"></textarea>
            </div> 
            <div class="btn-group ">
                <button type="submit" class="btn btn-info  ">发表</button>
            </div>
            </fieldset>
        </form>
<%include ./base/foot.ejs%>
