<%include ./base/head.ejs%>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="name1">
        <button type="submit">Upload</button>
    </form>
<%include ./base/foot.ejs%>
