body{
	margin: 0px;
}
.aside_left{
	margin-top: 250px;
}
.article-list{
	margin-top:100px;
}
.article{
	margin-top: 20px;
	height: 200px;
	overflow-y: hidden; 
}
.article a{
    text-decoration:none;
    margin-right:1em;
}
.article a:hover{
    color:#31780f;
}
.art_info{
	margin-top: 10px;
}
.content{
	margin-top: 10px;
}
